{% extends 'trenuj/base.html' %}



{% block content %}

    {% load staticfiles %}


    <div class="row">
        <div class="col s12">
          <ul class="tabs">
            <li class="tab col s4"><a class="active" href="#data">Dane</a></li>
            <li class="tab col s4"><a  href="#shortcuts">Skróty</a></li>
            <li class="tab col s4"><a href="#articles">Artykuły</a></li>
          </ul>
        </div>

        <div id="data" class="col s12">
            <br><br>
            <h5><b>Witaj</b> {{ user.get_full_name|default:user.username }}</h5>
            <div id="profile_image">
                {% if user_image %}
                        <img src="{{ user_image.image.url }}" width="120" />
                {% else %}
                        <img src="{% static 'images/default_profile.png' %}" width="120" />
                {% endif %}
            </div>
            <a class="waves-effect waves-light modal-trigger" data-target="modal2">Zmień zdjęcie</a>


            <p>Nazwa użytkownika: {{ user.username }}</p>
            <p>Imię: {{ user.first_name }}</p>
            <p>Nazwisko: {{ user.last_name }}</p>
            <p>Email: {{ user.email }}</p>

            <a class="waves-effect waves-light btn modal-trigger" data-target="modal1">Zmień hasło</a>
        </div>

        <div id="shortcuts" class="col s12">
            <br><br>
            <ul class="collection with-header">
                <li class="collection-header"><h4>Twoje skróty</h4></li>
                {% if shortcuts %}
                    {% for shortcut in shortcuts %}
                        <a href="#" class="collection-item">
                            {{ shortcut.title }}
                            {% if not shortcut.is_active %}
                                <div style="display: inline-block" class="right">
                                    <i class="material-icons tooltipped" data-position="top" data-delay="50"
                                       data-tooltip="Oczekujący">sync</i>
                                </div>
                            {% else %}
                                <div style="display: inline-block" class="right">
                                    <i class="material-icons tooltipped" data-position="top" data-delay="50"
                                       data-tooltip="Zaakceptowany">check</i>
                                </div>
                            {% endif %}
                        </a>
                    {% endfor %}
                {% endif %}
                <a href="{% url 'shortcut_create' %}" class="collection-item">
                   <span class="btn-floating btn waves-effect waves-lights">
                        <i class="material-icons">add</i>
                    </span>
                     <span style="margin-left: 0.4em;">
                         Dodaj nowy
                     </span>
                </a>
            </ul>
        </div>

        <div id="articles" class="col s12">
            <br><br>
            <ul class="collection with-header">
                <li class="collection-header"><h4>Twoje artykuły</h4></li>
                {% if articles %}
                    {% for article in articles %}
                        <li class="collection-item">
                            <div>
                                <a href="{% url 'article' article.slug %}">
                                    {{ article.title }}
                                </a>
                                <a href="{% url 'article_edit' article.slug %}" class="secondary-content">
                                    <i class="material-icons tooltipped" data-position="top" data-delay="50"
                                    data-tooltip="Edytuj">create</i>
                                </a>
                            </div>
                        </li>

                    {% endfor %}
                {% endif %}
                <a href="{% url 'article_create' %}" class="collection-item">
                   <span class="btn-floating btn waves-effect waves-lights">
                        <i class="material-icons">add</i>
                    </span>
                     <span style="margin-left: 0.4em;">
                         Dodaj nowy
                     </span>
                </a>
            </ul>

        </div>
    </div>


<!-- MODALS -->

  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Zmiana hasła</h4>
        <form action="{% url 'change_password' %}" method="post">{% csrf_token %}

                {{ change_password_form.old_password.errors }}
                {{ change_password_form.old_password.label_tag }}
                {{ change_password_form.old_password}}

                {{ change_password_form.new_password1.errors }}
                {{ change_password_form.new_password1.label_tag }}
                {{ change_password_form.new_password1}}

                {{ change_password_form.new_password2.errors }}
                {{ change_password_form.new_password2.label_tag }}
                {{ change_password_form.new_password2}}

            <div class="modal-footer">
            <a href="#!" style="margin-left: 1em;" class="modal-action modal-close waves-effect waves-light btn light-blue lighten-1">Anuluj</a>
            <button class="waves-effect waves-light btn light-blue lighten-1" name="change_password_form" type="submit" >Zmień</button>
            </div>
        </form>
    </div>
  </div>

    <!-- Zmiana zdjęcia -->

        <div id="modal2" class="modal">
            <div class="modal-content">
                <h4>Zmiana zdjęcia</h4>
                <div id="preview">
                    <img id="new_image" width="100px" src="{% static 'images/default_profile.png' %}"/>
                </div>
                <form method="post" action="{% url 'change_image' %}" enctype=multipart/form-data>{% csrf_token %}
                    <div class="file-field input-field" id="upload">
                        <div class="btn">
                            <span style="margin-bottom: 0.2em;">Wybierz</span>
                            <i class="material-icons ">face</i>
                            {{ change_image_form.image }}
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text">
                        </div>
                    </div>
                <div class="modal-footer">
                    <a href="#!" style="margin-left: 1em;" class="modal-action modal-close waves-effect waves-light btn light-blue lighten-1">Anuluj</a>
                    <button class="waves-effect waves-light btn light-blue lighten-1" name="change_password_form" type="submit" >Zmień</button>
                </div>
                </form>
            </div>
        </div>

    <script>
        document.getElementById("id_image").onchange = function () {
        var reader = new FileReader();
        reader.onload = function (e) {
            document.getElementById("new_image").src = e.target.result;
        };
        reader.readAsDataURL(this.files[0]);
        };
    </script>
    <!--END Zmiana zdjęcia -->

<br><br>

    <script>
      $(document).ready(function(){
    $('ul.tabs').tabs();
  });
    </script>

    <script>
        $(document).ready(function() {
            $('.modal-trigger').leanModal(
                dismissible: true,
                complete: -> $('.lean-overlay').remove()
            )
        });
    </script>

    {% if error_change_password %}
        <script>
        $(document).ready(function() {
            $('#modal1').openModal();
        });
        </script>
    {% endif %}


{% endblock %}