{% extends 'trenuj/base.html' %}

{% load staticfiles %}

{% block css %}
    <link rel="stylesheet" href="{% static 'redactor/redactor.css' %}" />

    <script type="text/javascript" src="{% static 'redactor/jquery.redactor.init.js' %}"></script>
    <script type="text/javascript" src="{% static 'redactor/redactor.js' %}"></script>
    <script type="text/javascript" src="{% static 'redactor/langs/pl.js' %}"></script>

{% endblock %}

{% block content %}


<form action="" method="post">{% csrf_token %}
    {{ form.as_p }}
    <button class="waves-effect waves-light btn light-blue lighten-1" name="form" type="submit" >Opublikuj</button>
</form>

<br> <br>

    <script type="text/javascript">
        window.onload = function () {
            document.getElementById("redactor-uuid-0").style.minHeight = "600px";
        }
    </script>

{% endblock %}