{% extends 'trenuj/base.html' %}


{% block content %}

          <h4>Usunięcie artykułu</h4>
            <form action="" method="post">{% csrf_token %}
                <p>Czy na pewno chesz usunąć artykuł "{{ object }}"?</p>
                <a href="{% url 'account' %}"  class="waves-effect waves-light btn light-blue lighten-1">Anuluj</a>
                <button class="waves-effect waves-light btn light-blue lighten-1" style="margin-left: 1em;" name="delete_article_form" type="submit" >Usuń</button>
            </form>


{% endblock %}
