{% extends 'trenuj/base.html' %}

{% load staticfiles %}

{% block css %}
    <link rel="stylesheet" href="{% static 'redactor/css/redactor.css' %}" />

    <script type="text/javascript" src="{% static 'redactor/jquery.redactor.init.js' %}"></script>
    <script type="text/javascript" src="{% static 'redactor/redactor.js' %}"></script>
    <script type="text/javascript" src="{% static 'redactor/langs/en.js' %}"></script>
    <script type="text/javascript" src="{% static 'redactor/plugins/codemirror.js' %}"></script>

    <style type="text/css">
        img { max-width: 100%; }
    </style>
{% endblock %}

{% block content %}

    <h2>{{ article.title }}</h2>
    <div class="redactor">
        {{ article.content|safe }}
    </div>
    <div id="author" class="right italic">
        <h5>Autor: {{ article.author.get_full_name|default:article.author.username }}</h5>
    </div>

{% endblock %}