{% extends 'trenuj/base.html' %}

{% load staticfiles %}

{% block css %}
    <link rel="stylesheet" href="{% static 'redactor/css/redactor.css' %}" />

    <script type="text/javascript" src="{% static 'redactor/jquery.redactor.init.js' %}"></script>
    <script type="text/javascript" src="{% static 'redactor/redactor.js' %}"></script>
    <script type="text/javascript" src="{% static 'redactor/langs/pl.js' %}"></script>

    <style type="text/css">
        img { max-width: 100%; }
    </style>
{% endblock %}

{% block content %}

    <br>
    <br>

    <h4 class="article-title">{{ article.title }}</h4>
    <h5 class="article-author">BY {{ article.author.get_full_name|default:article.author.username }}</h5>
    <br>
    <div class="redactor">
        {{ article.content|safe }}
    </div>

{% endblock %}