{% extends 'trenuj/base.html' %}


{% block content %}

    {% if not shortcuts %}

        <p>Nie ma obiektów w tej kategorii.</p>

    {% else %}

        <div class = "shortcuts row">
        {% for shortcut in shortcuts%}
                <div class = "shortcut-wrap col s12 m6 l4" style = "border: solid 0.1px white; padding: 0;">
                    <div class="shortcut" style="display: inline-block; border: solid 1px black; width: 100%;">
                        <a href="{{ shortcut.link }}">
                            <div style="background-color: rgba(255, 0, 0, 0.7); display: inline; padding: 2px; margin: 5px; position: absolute;"><a href="{% url 'category' shortcut.category.name %}" style= "color: white;">{{ shortcut.category.name }}</a></div>
                            <img src="{{ shortcut.image.url }}" width="100%">
                            <h5>{{ shortcut.title }}</h5>
                            <p>{{ shortcut.description }}</p>

                        </a>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
                    </div>
                    <div class = "shortcuts row">
                {% endif %}
        {% endfor %}
    {% endif %}

    <br>
    <br>

{% endblock %}