{% extends 'trenuj/base.html' %}

{% block content %}
    {% load staticfiles %}

    <script src="{% static 'js/jquery-2.2.0.min.js' %}"></script>
<br>
  <div class="slider">
    <ul class="slides">
      <li>
        <a href="{{ shortcuts.0.link }}">
            <img src="{{ shortcuts.0.image.url }}">
            <div class="caption center-align">
              <h3>{{ shortcuts.0.title }}</h3>
              <h5 class="light grey-text text-lighten-3">{{ shortcuts.0.description }}</h5>
            </div>
        </a>
      </li>
      <li>
          <a href="{{ shortcuts.1.link }}">
            <img src="{{ shortcuts.1.image.url }}">
            <div class="caption left-align">
                <h3>{{ shortcuts.1.title }}</h3>
                <h5 class="light grey-text text-lighten-3">{{ shortcuts.1.description }}</h5>
            </div>
            </a>
      </li>
      <li>
          <a href="{{ shortcuts.2.link }}">
              <img src="{{ shortcuts.2.image.url }}">
              <div class="caption right-align">
                  <h3>{{ shortcuts.2.title }}</h3>
                  <h5 class="light grey-text text-lighten-3">{{ shortcuts.2.description }}</h5>
              </div>
          </a>
      </li>
    </ul>
  </div>

    <br>
    <br>
    <div class = "shortcuts row">
    {% for shortcut in shortcuts%}
        <div class = "shortcut-wrap col s12 m6 l4" style = "border: solid 0.1px white; padding: 0;">
            <div class="shortcut" style="display: inline-block; border: solid 1px black; width: 100%;">
                <a href="{{ shortcut.link }}">
                    <div style="background-color: rgba(255, 0, 0, 0.7); display: inline; padding: 2px; margin: 5px; position: absolute;"><a href="{% url 'category' shortcut.category.name %}" style= "color: white;">{{ shortcut.category.name }}</a></div>
                    <img src="{{ shortcut.image.url }}" width="100%">
                    <h5>{{ shortcut.title }}</h5>
                    <p>{{ shortcut.description }}</p>

                </a>
            </div>
        </div>
    {% endfor %}
    </div>
    <script>
        $(document).ready(function(){
            $('.slider').slider({full_width: true});
        });
    </script>

{% endblock %}