{% extends 'trenuj/base.html' %}

{% load staticfiles %}

{% block css %}
    <style>
     .endless_loading {
         font-size:0;
     }

    .endless_more {
        font-size:0;
    }
    </style>

{% endblock %}

{% block content %}

    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="{% static 'el-pagination/js/el-pagination.js' %}"></script>
    <script src="{% static 'js/api.js' %}"></script>

     <div class = "main-page-content">
        <div class="shortcuts">

    {% include page_template %}


    </div>
        </div>


    <script>
        $.endlessPaginate({
            paginateOnScroll: true,
            paginateOnScrollMargin: 1,
            onClick: function(context) {
                $('<div class="preloader-wrapper big active"> <div class="spinner-layer spinner-blue-only"> <div class="circle-clipper left"> <div class="circle"></div> </div><div class="gap-patch"> <div class="circle"></div> </div><div class="circle-clipper right"> <div class="circle"></div> </div> </div> </div>').appendTo("#load");
            },
            onCompleted: function(context, fragment) {
                $('#load').empty()
            }
        });
    </script>

{% endblock %}