{% extends 'trenuj/base.html' %}

{% block content %}
    {% load staticfiles %}
    {% load embed_video_tags %}

    <script src="{% static 'js/jquery-2.2.0.min.js' %}"></script>
    <div class = "main-page-content">
        <div class="shortcuts">
            <div class="row" style="margin-left: 0 !important; margin-right: 0 !important;">
            {% for shortcut in shortcuts %}
                {% video shortcut.video as my_video %}
                    <div class = "shortcut-wrap col s12 m6 l6" style = "padding: 0;">
                        {% video my_video '100%x100%' %}
                    </div>
                {% endvideo %}
                {% if forloop.counter|divisibleby:2 %}
                    </div>
                    <div class="row" style="margin-left: 0 !important; margin-right: 0 !important;">
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}